<header>
  <div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()">
        <span *ngIf="authState === 'signedin'" class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-brand mb-0 h1">Scherber's Gym App</span>
      <img src="../../assets/logo-inverted.PNG" height="50" />
    </nav>
  </div>
</header>

<amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>

<div class="overlay-content" [ngClass]="isMenuOpen ? 'unfoldMenu' : 'foldMenu'">
  <img src="../assets/menu-background.png" class="hamburger-menu-background" />
  <div class="p-4 menu-text">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMenu()">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gymbuddies" routerLinkActive="active" (click)="toggleMenu()">Gymbuddies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/plans" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMenu()">Trainingsplan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/merchandise" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">Merchandise</a>
      </li>
    </ul>
    <amplify-sign-out (click)="toggleMenu()"></amplify-sign-out>
  </div>
</div>

<div *ngIf="authState === 'signedin' && user" class="App">
  <!-- This is where you application template code goes -->

  <div *ngIf="!isMenuOpen">Hello, {{user.username}}</div>

  <main *ngIf="!isMenuOpen">
    <router-outlet></router-outlet>
  </main>

</div>