@import '~bootstrap/dist/css/bootstrap.min.css';

.card {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px !important;
    margin: 2rem 1rem 2rem 1rem;
  }
  
  .card-header {
    border-bottom: 1px solid !important;
    border-radius: 10px 10px 0 0 !important;
  }
  
  .card-header-closed {
    border-radius: 10px 10px 10px 10px !important;
    border-bottom: none !important;
  }
  
  .card-header, .card-footer, .card-header-closed {
    font-size: large;
    padding: 0.5rem 1rem;
  }
  
  .card-body {
      width: 75%;
  
      @media (max-width: 768px) {
          width: 100%;
      }
  }