@import "~bootstrap/dist/css/bootstrap.min.css";

.btn-success {
  background-color: black;
}

.card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 4px 4px !important;
  margin: 2rem 1rem 2rem 1rem;
}

.card-header {
  border-bottom: 1px solid !important;
  border-radius: 1px 1px 0 0 !important;
}

.card-header-closed {
  border-radius: 1px 1px 1px 1px !important;
  border-bottom: none !important;
}

.card-header,
.card-footer,
.card-header-closed {
  font-size: medium;
  padding: 0.5rem 1rem;
}

.card-body {
  width: 75%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}
