@import "../../styles.scss";

.container {
  padding: 3vh 3vw 3vh 3vw;
}

h6 {
  margin: 2vh 0 1vh 3vw;
}

p {
  margin: 2vh 0 3vh 3vw;
}

.btn-container {
  text-align: center;
}

.btn-save {
  color: #fff;
  width: 80%;
}
