@import "../../styles.scss";

.container {
  padding: 3vh 3vw 3vh 3vw;
}

.vid {
  width: 320px;
  height: 180px;
  border-radius: 4px;
  overflow: hidden;
  margin: 3vh 3vw 3vh 3vw;
}

video {
  width: 320px;
}

.icon {
  height: 30px;
  margin-right: 0.7rem;
}

a {
  color: black;
}

.card {
  border: none;
  width: 340px;
  background-color: #fff;

  .background-image {
    position: relative;
    width: 340px;
    border-radius: 2px;
    opacity: 80%;
  }

  .background-image:hover {
    opacity: 100%;
  }

  .whatsapp {
    position: absolute;
    top: 5%;
    right: 4%;
  }
  .instagram {
    position: absolute;
    bottom: 5%;
    right: 4%;
  }
}
