<h5>Hallo Gymbuddy!</h5>

<p><a href="https://www.instagram.com/scherbers_gym_crew/">@scherbers_gym_crew</a> bei Instagram!</p>

<div class="card" (click)=routerWhatsapp()>
    <div class="card-header">
      <a href="https://api.whatsapp.com/send?phone=4917657937429" style="text-decoration: none">
        <img class="icon" src="assets/whatsapp.svg">
        <strong>Scherber's Gym</strong> auf WhatsApp
      </a>
    </div>
    <div class="card-body whatsapp-container">
      <strong>
        Du hast Fragen
        <br>
        oder möchtest mal mittrainieren?
      </strong>
      <br><br>
      Schreib' uns bei WhatsApp!
    </div>
  </div>