<div class="container">
  <h5>Hallo Gymbuddy!</h5>

  <img src="../../assets/get-fit-with-us.png" alt="" style="width:300px">

  <!--   <div class="vid">
        <video autoplay>
      <source src="../../assets/home-video.mp4" type="video/mp4" />
    </video>
  </div> -->

  <h6>Du möchtest mal mittrainieren?</h6>
  <h6>Spring auf den Fitness-Train und schreib uns gerne an.</h6>

  <div class="card shadow-sm">
    <img class="background-image" src="../../assets/fitness-train.png" />
    <a href="https://api.whatsapp.com/send?phone=4917657937429" style="text-decoration: none;">
      <img class="whatsapp" src="../../assets/whatsapp.png" width="45px" height="45px" />
    </a>

    <a href="https://www.instagram.com/scherbers_gym_crew/"><img class="instagram" src="../../assets/instagram.png"
        width="45px" height="45px" />
    </a>
  </div>
</div>